<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#FFF159; margin-bottom:22px;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="./assets/img/Logo_ML@2x.png" width="60%" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >

      <form class="d-flex">
        <input   width="100%"  id="navMedida" routerLinkActive="active"class="form-control2 me-2" type="search" placeholder="Nunca dejes de buscar" aria-label="Search"  id="pal" >
        <button class="btn" style="background-color:#e5e4e2;" (click)="cambiaPalabra()" type="submit"><img src="./assets/img/ic_Search@2x.png" width="60%"alt=""></button>
      </form>
    </div>
  </div>
</nav>
